// *** demo *** //
$row-width: 584px;
@import '../../src/scss/fluid-email';

td.gutter { padding: ($gutter / 2); }
#backgroundTable { background-color: #eee; }
.wrapper.main { background-color: #fff; }
.topbar {
  padding: 10px;
  background-color: #444;
  color: #fff;
  a {
    color: #fff;
    text-decoration: underline;
  }
}
.view { 
  width: 100%;
  font-size: 11px;
  text-align: left;
}
.h4 {
  @include type(23px 1.2 bold $georgia);
}
.h5 {
  @include type(13px 1.3 bold $georgia);
  padding-bottom: 10px;
}
.h6 {
  @include type(13px 1.3);
  padding-top: 6px;
}
.p {
  @include type(13px $georgia);
  padding: 13px 0;
}
.gap {
  padding-top: 20px;
}
.logo {
  font-size: 36px !important;
}
.date {
  padding-top: 30px;
  text-align: right;
  font-size: 12px;
  color: #999;
  a { 
    color: #999; 
    text-decoration: underline;
  }
}
.button { 
  @include button(#3ab7e4 radius); 
  margin-top: 10px;
  color: #fff !important;
  &-2 {
    @include button(#D80017 round);
    color: #fff !important;
    margin-top: 10px;
  }
}
.topnews-img {
  a { display: block;}
}
.img-box { 
  padding-right: 10px; 
  padding-bottom: 10px;
}
.sub-col {
  &-4 { @include sub-col(4 of 12); }
  &-8 { @include sub-col(8 of 12); }
}
.copyright {
  padding-bottom: 30px;
  line-height: 1.6;
  font-size: 12px;
  color: #999;
  a { color: #999; }
  .primary { color: #333; }
}

.gallery2 {
  @include gallery2(1 to 2 480px);
} 
.gallery3 {
  @include gallery2(1 to 3 300px);
} 
.gallery6 {
  @include gallery2(3 to 6 180px);
} 
[class*='gallery'] img { width: 100%; }