// *** reset *** //

body{
  width:100%;
  min-width: 100%;
  height: auto;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  margin:0;
  padding:0;
}
div, p, a, li, td { -webkit-text-size-adjust: none; } // Override the minimum font size on the iPhone and iPad
table, td { text-align: left; }
table, td {
  padding: 0;
  vertical-align: top;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  &.body {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  &.body center { 
    width: 100%;
  }
  &.container {
    max-width: $outer-container;
    margin: 0 auto;
    text-align: inherit;
  }
}
td {
  margin: 0;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important;
}
img {
  outline:none;
  border: none;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}
hr {
  height: 1px;
  margin-left: ($gutter / 2);
  margin-right: ($gutter / 2);
  color: map-get($color, border);
  background-color: map-get($color, border);
  border: none;
}
.full { width: 100%; }
.col {
  padding: ($gutter / 2);
}

/* Typography */
#outlook a { padding:0; }
body, table.body {
  color: #222222;
  font-family: Helvetica, Arial, sans-serif;
}
small {
  font-size: 10px;
}
a {
  color: map-get($color, link);
  text-decoration: none;
}

/* Alignment and Visibility Classes */
table, 
td, 
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  &.center { text-align: center; }
}
.center { text-align: center; }
span.center {
  display: block;
  width: 100%;
}
img.center {
  margin: 0 auto;
  float: none;
}

/* Outlook First */
body.outlook p { display: inline !important; }

// for Apple Mail (it doesn't support max-width)
@include bp(max $outer-container) { 
  // table[class="container"] { width: 92% !important;  }  
  // table[class="body"] center { min-width: 0 !important; }
}
@include bp(min ($outer-container + 1px)) { 
  table[class="container"] { width: $outer-container !important;  }  
}
