CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*.DS_Store
/.codekit-cache/
/design/
/bower_components/
README.md
README.html
changelog.html
LICENSE
*.codekit
*.sublime-project
*.sublime-workspace
*.scssc
sftp-config.json
