// variables
//-----------------------------
// layout
$outer-container: 600px;
$container: 600px;
$columns: 12;
$gutter: 20px;

$generate-css: true;

// font
$helvetica: "'Helvetica Neue', Helvetica, Arial, sans-serif";
$arial: "Arial, Helvetica, sans-serif";
$opensans: "'Open Sans', Arial, sans-serif";
$lato: "'Lato', Arial, sans-serif";
$oswald: "'Oswald', Arial, sans-serif";
$georgia: "Georgia, 'Times New Roman', Times, Baskerville, serif";

// color
$color: (
  'border': #e6e6e6,
  'brand': #41bae9,
  'bg': #f1f1f1,
  'link': #333,
);

// gallery
$fe-gallery-align: left, center, right !default;
// 

// base
$fe-em-base: 16px !default;
$fe-rem-base: 16px !default;

// breakpoint
$fe-media-types: all, aural, braille, handheld, print, projection, screen, tty, tv, embossed !default;

// type
$fe-font-weights: thin, hairline, extra light, ultra light, lighter, light, normal, medium, semi bold, demi bold, bold, bolder, extra bold, black, heavy, 100, 200, 300, 400, 500, 600, 700, 800, 900, weight-normal, weight-inherit !default;
$fe-font-styles: italic, oblique, style-normal, style-inherit !default;
$fe-text-aligns: left, right, center, justify, align-inherit !default;
$fe-text-transforms: capitalize, uppercase, lowercase, none, full-width, transform-inherit !default;

// media list
$fe-media-type: 'media', 'media-body';
$fe-media-direction: left, right;

// button
$fe-button-radius-styles: 'radius', 'round' !default;
$fe-button-radius: 0.45em !default;
$fe-button-round: 1000px !default;
$fe-button-hover-lightness: 10% !default;

// visibility
$fe-even: 2 4 6 8 10 12 14 16 18 20;
$fe-odd: 1 3 5 7 9 11 13 15 17 19;
