// *** demo *** //
@import '../../src/scss/fluid-email/fluid-email';


.h4 {
  @include type(23px 1.2 bold $georgia);
}
.h5 {
  @include type(13px 1.3 bold $georgia);
  padding-bottom: 10px;
}
.h6 {
  @include type(13px 1.3);
  padding-top: 6px;
}
.p {
  @include type(13px $georgia);
  padding: 13px 0;
}
.gap {
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo {
  font-size: 36px !important;
  vertical-align: baseline;
}
.date {
  padding-top: 17px;
  font-size: 12px;
  color: #777;
  vertical-align: baseline;
}
.button { 
  @include button(#3ab7e4 radius); 
  margin-top: 10px;
  color: #fff !important;
  &-2 {
    @include button(#D80017 round);
    color: #fff !important;
    margin-top: 10px;
  }
}
.topnews-img {
  a { display: block;}
}
.sub-cols-5 { 
  @include sub-col(5);
  padding-right: 10px; 
  padding-bottom: 10px;
}
.sub-cols-7 { @include sub-col(7); }
.copyright {
  font-size: 12px;
  color: #999;
  padding-bottom: 30px;
}

[class~="topnews-img"] { @include col(5);}
[class~="topnews-text"] { @include col(7);}
[class~="column-left"] { @include col(6); }
[class~="column-right"] { @include col(6 of 12); }