// *** sub-col *** //

// sub col
@mixin sub-col($key){
  $cols: ro-get-next($key, 'of', $cols);

  // set up column
  $column: 0;
  @if type-of($key) == 'number' {
    $column: $key;
  } @else if type-of($key) == 'list' {
    @if index($key, 'of') {
      $column: ro-get-prev($key, 'of');
    } @else {
      @each $item in $key {
        @if type-of($item) == 'number' and
            unitless($item) {
          $column: $item;
        }
      }
    }
  }
  
  width: percentage($column / $cols);
}