// *** buttons *** //

// font-size
// background-color
// padding
// margin

%button-style {
  display: inline-block;
  border-style: solid;
  text-align: center;
  box-sizing: border-box;
}
@mixin button (
  $background-color: #3ab7e4,
  $padding: 15px 20px,
  $border-radius: 3px
){
  @extend %button-style;

  // background-color
  @if $background-color == 'default' {
    background-color: #3ab7e4;
    border-color: #3ab7e4;
    color: contrast(#3ab7e4);
  }
  @else if $background-color != null {
    background-color: $background-color;
    border-color: $background-color;
    color: contrast($background-color);
  }

  // padding
  @if $padding == 'default' { border-width: 15px 20px; }
  @else if $padding != null { border-width: $padding; }

  // border-radius
  @if $border-radius == 'default'{ border-radius: 3px; }
  @else if $border-radius != null { border-radius: $border-radius; }
}
