// *** reset *** //

#outlook a { padding:0; }
body{
  width:100%;
  min-width: 100%;
  height: auto;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  margin:0;
  padding:0;
}
div, p, a, li, td { -webkit-text-size-adjust: none; } // Override the minimum font size on the iPhone and iPad
table, tr, td {
  padding: 0;
  vertical-align: top;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
td {
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important;
}
img {
  outline:none;
  border: none;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  &.fluid { 
    width: 100% !important; 
    height: auto !important;
  }
}
center { width: 100%; }
hr {
  color: $line-color;
  background-color: $line-color;
  height: 1px;
  border: none;
}
table.body {
  height: 100%;
  width: 100%;
}
table.container {
  width: 94%;
  max-width: $container;
  margin: 0 auto;
  // text-align: inherit;
}
.center { text-align: center; }
$ad: (120, 160, 240, 250, 300, 320, 468);
.ad {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @each $width in $ad {
    &-#{$width} { width: $width + px; }
  }
}

/* Typography */
body, table.body, td {
  padding:0;
  margin: 0;
}
body, table.body {
  color: #222222;
  font-family: Helvetica, Arial, sans-serif;
}
small {
  font-size: 10px;
}
a {
  color: $link-color;
  text-decoration: none;
}

/* Alignment and Visibility Classes */
table, 
td, 
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  &.center { text-align: center; }
}
span.center {
  display: block;
  width: 100%;
}
img.center {
  margin: 0 auto;
  float: none;
}

/* Outlook First */
body.outlook p { display: inline !important; }

// for Apple Mail (it doesn't support max-width)
@include bp-mi($container + 20px) { 
  table.container { width: $container !important;  }  
}