// *** gallery *** //

%gallery-base {
  width: 100%;
  letter-spacing: -0.34em; 
  &,
  & > tbody,
  & > tbody > tr { display: block; }
  .cell {
    letter-spacing: 0;
    display: inline-block;
    padding: ($gallery-gutter/2);
  }
}
@mixin gallery(
  $cols,
  $gt: $gallery-gutter,
  $gallery-container: $container
) {
  $gt-percentage: percentage($gt/$gallery-container);
  @at-root (without: media) { @extend %gallery-base; }

  .cell { 
    padding: ($gt-percentage/2) !important;
    width: percentage(1/$cols) - $gt-percentage !important;
  }
}
