// *** gallery *** //

@mixin gallery(
  $cols,
  $gt: $gallery-gutter
) {
  $gt-percentage: percentage($gt/$container);
  @at-root (without:media) {
    width: 100%;
    tr { letter-spacing: -.34em; }
    td {
      letter-spacing: 0;
      display: inline-block;
      padding: ($gt-percentage/2);
      width: percentage(1/2) - $gt-percentage; 
    }
  }
  @if $cols >= 3 {
    td { width: percentage(1/$cols) - $gt-percentage !important; }
  }
}