// *** gallery *** //

%gallery-base {
  width: 100%;
  letter-spacing: -0.34em; 
  text-align: center;
  .cell {
    letter-spacing: 0;
    display: inline-block;
    padding: ($gallery-gutter/2);
  }
  &,
  & > tbody,
  & > tbody > tr { display: block; }
}
@mixin gallery(
  $cols,
  $gallery-container: $container
) {
  $gt-percentage: percentage($gallery-gutter/$gallery-container);
  @at-root (without: media) { 
    @extend %gallery-base; 
    // non-mediaquery
    .cell {
      width: (($gallery-container / $cols) - $gallery-gutter);
      > table { width: 100%; }
    }
  }

  // mediaquery
  .cell { 
    padding: ($gt-percentage/2) !important;
    width: percentage(1/$cols) - $gt-percentage !important;
  }
}
