// *** Grid *** //

// columns
.wrapper { 
  letter-spacing: -0.34em; 
  &,
  & > tbody,
  & > tbody > tr { display: block; }
}

@mixin col(
  $col,
  $cols: $columns,
  $last: false
){
  @if not $cols or $cols == null { $cols: $columns; }
  $one-column: ((($container + $gutter) / $cols) - $gutter);

  // desktop, non-mediaquery
  @if $col < $cols {
    display: inline-block;
    letter-spacing: 0;
    padding-bottom: $gutter;
    width: ($one-column * $col + $gutter * ($col - 1));
    max-width: 100%;
    @if not $last or $last == null { padding-right: $gutter; }
  }

  // mediaquery
  @media screen and (max-width: $container) {
    padding-right: 0 !important; 
    width: 100% !important;
  }
}

// sub columns
@mixin sub-col(
  $col,
  $cols: $columns
){
  letter-spacing: 0;
  width: percentage($col/$cols);
}
