// *** Grid *** //

// columns
@mixin col(
  $col,
  $cols: $columns,
  $gt: $gutter,
  $last: false,
  $bp: $grid-breakpoint
){
  @at-root (without: media) {
    width: 100%;
    display: block;
  }
  @if not $cols or $cols == null { $cols: $columns; }
  @if not $gt or $gt == null { $gt: $gutter; }
  $gt-percentage: percentage($gt/$container);
  $col-percentage: percentage(($container - $gt * ($cols - 1)) / ($container * $cols));

  @if not $last or $last == null { padding-right: $gt-percentage !important; }
  width: $col-percentage * $col + $gt-percentage * ($col - 1) !important;
  display: table-cell !important;
}

// sub columns
@mixin sub-col(
  $col,
  $cols: $columns
){
  width: percentage($col/$cols);
}