// *** buttons *** //

@mixin button ($key){
  $background-color: ro-get-type($key, 'color', false, '#3ab7e4');
  $padding: ro-get-type($key, 'string', $fe-button-radius-styles, '15px 20px');
  $radius: ro-get($key, $fe-button-radius-styles, false);

  display: inline-block;
  border-style: solid;
  text-align: center;
  box-sizing: border-box;

  // background-color
  @if $background-color {
    background-color: $background-color;
    border-color: $background-color;
    border-type: solid;
    color: contrast($background-color);
  }

  // padding
  @if $padding { border-width: unquote($padding); }

  // border-radius
  @if $radius == 'radius' { 
    border-radius: $fe-button-radius; 
  } @else if $radius == 'round' {
    border-radius: $fe-button-round;
  }

}
