// *** buttons *** //

@mixin button ($key){
  $background-color: ro-get-type($key, 'color', false, '#3ab7e4');
  $padding: ro-get-type($key, 'string', false, '15px 20px');
  $border-radius: ro-get-type($key, 'number', false, 3px);

  display: inline-block;
  border-style: solid;
  text-align: center;
  box-sizing: border-box;

  // background-color
  @if $background-color {
    background-color: $background-color;
    border-color: $background-color;
    border-type: solid;
    color: contrast($background-color);
  }

  // padding
  @if $padding { border-width: unquote($padding); }

  // border-radius
  @if $border-radius { border-radius: $border-radius; }

}
