// *** block *** //

@mixin block($key) {
  $per-row: 1;
  $block-container: $container;
  $align: ro-get($key, $block-align, left);

  // set up per-row, block-container
  @if type-of($key) == 'number' {
    $per-row: $key;
  } @else if type-of($key) == 'list' {
    @each $item in $key {
      @if type-of($item) == 'number' {
        @if unitless($item) {
          $per-row: $item;
        } @else {
          $block-container: $item;
        }
      }
    }
  }

  $width: (($block-container / $per-row) - $gutter);
  text-align: $align;
  vertical-align: top; 
  font-size: 0;

  .cell {
    display: inline-block;
    vertical-align: top;
    padding: ($gutter / 2);
    font-size: 13px;
    width: $width;
  }

  // constrict the images to container width
  img { max-width: $width; }
}
