// *** gallery *** //

@mixin gallery($key) {
  $per-row: 1;
  $gallery-row: $row;

  // set up per-row, gallery-row
  @if type-of($key) == 'number' {
    $per-row: $key;
  } @else if type-of($key) == 'list' {
    @each $item in $key {
      @if type-of($item) == 'number' {
        @if unitless($item) {
          $per-row: $item;
        } @else {
          $gallery-row: $item;
        }
      }
    }
  }

  @extend %gallery-base;
  $width: (($gallery-row / $per-row) - $gutter);

  td.item {
    @extend %gallery-item;
    width: $width;
  }

  // constrict the images to container width
  img { max-width: $width; }
}

%gallery-base {
  &,
  > tbody,
  > tbody > tr {
    text-align: $gallery-align;
  }
  font-size: 0; // remove blank space between inline-block elements
  letter-spacing: -0.34em; // remove blank space between inline-block elements
}
%gallery-item {
  display: inline-block;
  padding: ($gutter / 2);
  font-size: 16px; // restore font-size
  letter-spacing: 0; // restore letter-spacing
  max-width: 100%;
}

@if $generate-css {
  .gallery {
    @for $i from 2 through $gallery-cols {
      &-#{$i} {
        @include gallery($i center);
      }
    }
  }
}